@import url(https://erau-academic-innovation.github.io/canvas-custom-css/john-unrivaled.css);
@import url(https://erau-academic-innovation.github.io/canvas-custom-css/john-sunrise.css);
@import url(https://erau-academic-innovation.github.io/canvas-custom-css/john-altitude.css);
@import url(https://erau-academic-innovation.github.io/canvas-custom-css/john-beyond.css);
@import url(https://erau-academic-innovation.github.io/canvas-custom-css/john-beyond-sunrise.css);
@import url(https://erau-academic-innovation.github.io/canvas-custom-css/john-beyond-altitude.css);

.course-footer {
    margin: 0 auto;
    max-width: 900px;
}
.course-footer p {
    text-align: center;
    font-size: 8px;
    line-height: 10px;
}