/*********************************************************************/
/***** ERAU THEME
**********************************************************************/

:root {
    --erau-heading-font: "Oswald", sans-serif;
    --erau-body-font: "Roboto", sans-serif;
    --erau-white: #FFFFFF;
    --erau-black: #000000;
    --erau-unrivaled: #03539E;
    --erau-beyond: #1C2B57;
    --erau-grey: #DCDCDC;
    --erau-sunrise: #FFCB06;
    --erau-altitude: #01B2E3;
}

.course-footer {
    margin: 0 auto;
    max-width: 900px;
}

.course-footer p {
    text-align: center;
    font-size: 10px;
    line-height: 10px;
}

/*********************************************************************/
/***** ERAU BANNER HEADER STYLES
**********************************************************************/

#dp-wrapper:has(.erau-header) {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#dp-wrapper header.erau-header {
    margin: 0 0 20px 0;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 4px;
}

#dp-wrapper:has(.dp-banner-image) > .erau-header {
    border-radius: 0 0 4px 4px;
}

#dp-wrapper:has(.erau-header) .dp-banner-image {
    order: -1; // MOVES BANNER ABOVE HEADING
    border-radius: 4px 4px 0 0;
}

#dp-wrapper .erau-header .dp-heading {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
}

#dp-wrapper .erau-header .dp-header-title {
    font-size: 64px;
    font-weight: 900;
    font-family: "Oswald", sans-serif;
}

#dp-wrapper:has(.erau-header) .erau-header .dp-header-pre {
    margin: 0;
    padding: 6px 12px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 4px;
}

#dp-wrapper:has(.erau-header) .erau-header .dp-header-pre-2:before {
    margin-right: 12px;
    content: url("https://madeby.johnsexton.media/erau-eagle-unrivaled-20.png");
}

#dp-wrapper:has(.erau-header) .erau-header .dp-header-subtitle {
    margin: 0;
    font-size: 24px;
    font-family: var(--erau-heading-font);
}

#dp-wrapper:has(.erau-header) .erau-header .dp-header-subtitle {
    color: var(--erau-white);
}

#dp-wrapper:has(.erau-header) .erau-header .dp-header-description p {
    padding: 6px 0;
    color: var(--erau-white);
    font-size: 16px;
    font-family: var(--erau-body-font);
}

/*********************************************************************/
/***** ERAU LINK GRID STYLES
**********************************************************************/

#dp-wrapper .erau-link-grid {
    margin: 2rem 0;
    padding: 0;
}
#dp-wrapper .erau-link-grid a {
    padding: .8rem 1rem;
    color: var(--erau-white);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    font-family: var(--erau-body-font);
    font-weight: 600;
    justify-content: center;
    transition: 
        padding 0.5s ease,
        border 0.5s ease,
        border-color 0.5s ease;
}

#dp-wrapper .erau-link-grid a:hover {
    padding-left: 24px;
    text-decoration: none;
}
#dp-wrapper .erau-link-grid a.dp-has-icon {
    justify-content: start;
}

#dp-wrapper .erau-link-grid .dp-icon {
    margin: 0 .5rem 0 0;
}

/*********************************************************************/
/***** ERAU THEME/WRAPPER STYLES
**********************************************************************/

#dp-wrapper.erau-wrapper h2 {
    margin: 0;
    padding: 12px;
    color: var(--erau-white);
    font-size: 64px;
    font-weight: 900;
    font-family: "Oswald", sans-serif;
    border-radius: 4px;
}

#dp-wrapper.erau-wrapper h3 {
    font-size: 48px;
    font-weight: 900;
    font-family: "Oswald", sans-serif;
}

#dp-wrapper.erau-wrapper h4 {
    font-size: 36px;
    font-weight: 900;
    font-family: "Oswald", sans-serif;
}

#dp-wrapper.erau-wrapper h5 {
    font-size: 24px;
    font-weight: 900;
    font-family: "Oswald", sans-serif;
}

#dp-wrapper.erau-wrapper h6 {
    font-size: 20px;
    font-weight: 900;
    font-family: "Oswald", sans-serif;
}

/*********************************************************************/
/***** ERAU BUTTON STYLES
**********************************************************************/

#dp-wrapper.erau-wrapper .btn {
    margin: 0 auto;
    padding: .5rem 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-family: var(--erau-body-font);
    font-weight: 600;
    justify-content: center;
    transition: 
        background-color 0.5s ease,
        color 0.5s ease;
}

#dp-wrapper.erau-wrapper .btn:hover {
    text-decoration: none;
}

/*********************************************************************/
/***** ERAU CARD STYLES
**********************************************************************/

#dp-wrapper.erau-wrapper .dp-card .card-title {
    font-size: 18px;
}

#dp-wrapper.erau-wrapper .dp-card nav {
    margin-bottom: 0;
}

#dp-wrapper.erau-wrapper .dp-card .nav-link {
    transition: 
        padding 0.5s ease,
        color 0.5s ease,
        background-color 0.5s ease;
}

#dp-wrapper.erau-wrapper .dp-card .nav-link:hover {
    padding-left: 24px;
}

/*********************************************************************/
/***** MODULE ITEM DETAILS STYLES
**********************************************************************/

#dp-wrapper.erau-wrapper .ig-header { /* HIDES HEADER OF MODULE NAVIGATION */
    display: none;
}

#dp-wrapper.erau-wrapper .dp-module-details {
    margin: 8px 0 0 0;
    padding: 0;
    border-top: 1px solid #E8EAEC; /* ADDS TOP BORDER AFTER HIDING HEADER */
}

#dp-wrapper.erau-wrapper .module-item-title a {
    text-decoration: none;
}

#dp-wrapper.erau-wrapper .context_module_item .fa-map-marker-alt {
    margin-left: 20px;
}

/*********************************************************************/
/***** UNRIVALED COLOR STYLES
**********************************************************************/

#dp-wrapper header.unrivaled-header {
    color: var(--erau-white);
    background: var(--erau-unrivaled);
}
#dp-wrapper:has(.unrivaled-header) .dp-banner-image {
    border-top: 20px solid var(--erau-unrivaled);
}
#dp-wrapper:has(.unrivaled-header) .unrivaled-header .dp-header-pre {
    color: var(--erau-unrivaled);
    background-color: var(--erau-grey);
}

#dp-wrapper .unrivaled-link-grid a {
    background: var(--erau-unrivaled);
}
#dp-wrapper .unrivaled-link-grid a:hover {
    border-left: 24px solid var(--erau-grey);
}
#dp-wrapper .unrivaled-link-grid .dp-icon,
#dp-wrapper .unrivaled-link-grid .fas {
    color: var(--erau-grey);
}

#dp-wrapper.unrivaled-wrapper h2 {
    background-color: var(--erau-unrivaled);
}
#dp-wrapper.unrivaled-wrapper h3 {
    color: var(--erau-unrivaled);
    border-bottom: 4px solid var(--erau-grey);
}
#dp-wrapper.unrivaled-wrapper h4,
#dp-wrapper.unrivaled-wrapper h5,
#dp-wrapper.unrivaled-wrapper h6 {
    color: var(--erau-unrivaled);
}

#dp-wrapper.unrivaled-wrapper .btn {
    color: var(--erau-white);
    background: var(--erau-unrivaled);
}
#dp-wrapper.unrivaled-wrapper .btn:hover {
    color: var(--erau-unrivaled);
    background-color: var(--erau-grey);
}

#dp-wrapper.unrivaled-wrapper .dp-card .nav-link {
    color: var(--erau-white);
    background-color: var(--erau-unrivaled);
}
#dp-wrapper.unrivaled-wrapper .dp-card .nav-link:hover {
    color: var(--erau-unrivaled);
    background-color: var(--erau-grey);
}

#dp-wrapper.unrivaled-wrapper hr[class*=dp-hr-] {
    border-color: var(--erau-unrivaled);
}

#dp-wrapper.unrivaled-wrapper .dp-module-details li.dp-current .ig-row {
    background-color: var(--erau-grey);
}

#dp-wrapper.unrivaled-wrapper .dp-module-details li.dp-current .ig-row a {
    color: var(--erau-unrivaled);
}

#dp-wrapper.unrivaled-wrapper .context_module_item .type_icon i {
    color: var(--erau-unrivaled);
}

#dp-wrapper.unrivaled-wrapper .context_module_item .fa-map-marker-alt {
    color: var(--erau-unrivaled);
}

/*********************************************************************/
/***** UNRIVALED-SUNRISE COLOR STYLES
**********************************************************************/

#dp-wrapper header.unrivaled-sunrise-header {
    color: var(--erau-white);
    background: var(--erau-unrivaled);
}
#dp-wrapper:has(.unrivaled-sunrise-header) .dp-banner-image {
    border-top: 20px solid var(--erau-unrivaled);
}
#dp-wrapper:has(.unrivaled-sunrise-header) .unrivaled-sunrise-header .dp-header-pre {
    color: var(--erau-unrivaled);
    background-color: var(--erau-sunrise);
}

#dp-wrapper .unrivaled-sunrise-link-grid a {
    background: var(--erau-unrivaled);
}
#dp-wrapper .unrivaled-sunrise-link-grid a:hover {
    border-left: 24px solid var(--erau-sunrise);
}
#dp-wrapper .unrivaled-sunrise-link-grid .dp-icon,
#dp-wrapper .unrivaled-sunrise-link-grid .fas {
    color: var(--erau-sunrise);
}

#dp-wrapper.unrivaled-sunrise-wrapper h2 {
    background-color: var(--erau-unrivaled);
}
#dp-wrapper.unrivaled-sunrise-wrapper h3 {
    color: var(--erau-unrivaled);
    border-bottom: 4px solid var(--erau-sunrise);
}
#dp-wrapper.unrivaled-sunrise-wrapper h4,
#dp-wrapper.unrivaled-sunrise-wrapper h5,
#dp-wrapper.unrivaled-sunrise-wrapper h6 {
    color: var(--erau-unrivaled);
}

#dp-wrapper.unrivaled-sunrise-wrapper .btn {
    color: var(--erau-white);
    background: var(--erau-unrivaled);
}
#dp-wrapper.unrivaled-sunrise-wrapper .btn:hover {
    color: var(--erau-unrivaled);
    background-color: var(--erau-sunrise);
}

#dp-wrapper.unrivaled-sunrise-wrapper .dp-card .nav-link {
    color: var(--erau-white);
    background-color: var(--erau-unrivaled);
}
#dp-wrapper.unrivaled-sunrise-wrapper .dp-card .nav-link:hover {
    color: var(--erau-unrivaled);
    background-color: var(--erau-sunrise);
}

#dp-wrapper.unrivaled-sunrise-wrapper hr[class*=dp-hr-] {
    border-color: var(--erau-unrivaled);
}

#dp-wrapper.unrivaled-sunrise-wrapper .dp-module-details li.dp-current .ig-row {
    background-color: var(--erau-sunrise);
}

#dp-wrapper.unrivaled-sunrise-wrapper .dp-module-details li.dp-current .ig-row a {
    color: var(--erau-unrivaled);
}

#dp-wrapper.unrivaled-sunrise-wrapper .context_module_item .type_icon i {
    color: var(--erau-unrivaled);
}

#dp-wrapper.unrivaled-sunrise-wrapper .context_module_item .fa-map-marker-alt {
    color: var(--erau-unrivaled);
}

/*********************************************************************/
/***** UNRIVALED-ALTITUDE COLOR STYLES
**********************************************************************/

#dp-wrapper header.unrivaled-altitude-header {
    color: var(--erau-white);
    background: var(--erau-unrivaled);
}
#dp-wrapper:has(.unrivaled-altitude-header) .dp-banner-image {
    border-top: 20px solid var(--erau-unrivaled);
}
#dp-wrapper:has(.unrivaled-altitude-header) .unrivaled-altitude-header .dp-header-pre {
    color: var(--erau-unrivaled);
    background-color: var(--erau-altitude);
}

#dp-wrapper .unrivaled-altitude-link-grid a {
    background: var(--erau-unrivaled);
}
#dp-wrapper .unrivaled-altitude-link-grid a:hover {
    border-left: 24px solid var(--erau-altitude);
}
#dp-wrapper .unrivaled-altitude-link-grid .dp-icon,
#dp-wrapper .unrivaled-altitude-link-grid .fas {
    color: var(--erau-altitude);
}

#dp-wrapper.unrivaled-altitude-wrapper h2 {
    background-color: var(--erau-unrivaled);
}
#dp-wrapper.unrivaled-altitude-wrapper h3 {
    color: var(--erau-unrivaled);
    border-bottom: 4px solid var(--erau-altitude);
}
#dp-wrapper.unrivaled-altitude-wrapper h4,
#dp-wrapper.unrivaled-altitude-wrapper h5,
#dp-wrapper.unrivaled-altitude-wrapper h6 {
    color: var(--erau-unrivaled);
}

#dp-wrapper.unrivaled-altitude-wrapper .btn {
    color: var(--erau-white);
    background: var(--erau-unrivaled);
}
#dp-wrapper.unrivaled-altitude-wrapper .btn:hover {
    color: var(--erau-unrivaled);
    background-color: var(--erau-altitude);
}

#dp-wrapper.unrivaled-altitude-wrapper .dp-card .nav-link {
    color: var(--erau-white);
    background-color: var(--erau-unrivaled);
}
#dp-wrapper.unrivaled-altitude-wrapper .dp-card .nav-link:hover {
    color: var(--erau-unrivaled);
    background-color: var(--erau-altitude);
}

#dp-wrapper.unrivaled-altitude-wrapper hr[class*=dp-hr-] {
    border-color: var(--erau-unrivaled);
}

#dp-wrapper.unrivaled-altitude-wrapper .dp-module-details li.dp-current .ig-row {
    background-color: var(--erau-altitude);
}

#dp-wrapper.unrivaled-altitude-wrapper .dp-module-details li.dp-current .ig-row a {
    color: var(--erau-unrivaled);
}

#dp-wrapper.unrivaled-altitude-wrapper .context_module_item .type_icon i {
    color: var(--erau-unrivaled);
}

#dp-wrapper.unrivaled-altitude-wrapper .context_module_item .fa-map-marker-alt {
    color: var(--erau-unrivaled);
}

/*********************************************************************/
/***** BEYOND COLOR STYLES
**********************************************************************/

#dp-wrapper header.beyond-header {
    color: var(--erau-white);
    background: var(--erau-beyond);
}
#dp-wrapper:has(.beyond-header) .dp-banner-image {
    border-top: 20px solid var(--erau-beyond);
}
#dp-wrapper:has(.beyond-header) .beyond-header .dp-header-pre {
    color: var(--erau-beyond);
    background-color: var(--erau-grey);
}

#dp-wrapper .beyond-link-grid a {
    background: var(--erau-beyond);
}
#dp-wrapper .beyond-link-grid a:hover {
    border-left: 24px solid var(--erau-grey);
}
#dp-wrapper .beyond-link-grid .dp-icon,
#dp-wrapper .beyond-link-grid .fas {
    color: var(--erau-grey);
}

#dp-wrapper.beyond-wrapper h2 {
    background-color: var(--erau-beyond);
}
#dp-wrapper.beyond-wrapper h3 {
    color: var(--erau-beyond);
    border-bottom: 4px solid var(--erau-grey);
}
#dp-wrapper.beyond-wrapper h4,
#dp-wrapper.beyond-wrapper h5,
#dp-wrapper.beyond-wrapper h6 {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-wrapper .btn {
    color: var(--erau-white);
    background: var(--erau-beyond);
}
#dp-wrapper.beyond-wrapper .btn:hover {
    color: var(--erau-beyond);
    background-color: var(--erau-grey);
}

#dp-wrapper.beyond-wrapper .dp-card .nav-link {
    color: var(--erau-white);
    background-color: var(--erau-beyond);
}
#dp-wrapper.beyond-wrapper .dp-card .nav-link:hover {
    color: var(--erau-beyond);
    background-color: var(--erau-grey);
}

#dp-wrapper.beyond-wrapper hr[class*=dp-hr-] {
    border-color: var(--erau-beyond);
}

#dp-wrapper.beyond-wrapper .dp-module-details li.dp-current .ig-row {
    background-color: var(--erau-grey);
}

#dp-wrapper.beyond-wrapper .dp-module-details li.dp-current .ig-row a {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-wrapper .context_module_item .type_icon i {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-wrapper .context_module_item .fa-map-marker-alt {
    color: var(--erau-beyond);
}

/*********************************************************************/
/***** BEYOND-SUNRISE COLOR STYLES
**********************************************************************/

#dp-wrapper header.beyond-sunrise-header {
    color: var(--erau-white);
    background: var(--erau-beyond);
}
#dp-wrapper:has(.beyond-sunrise-header) .dp-banner-image {
    border-top: 20px solid var(--erau-beyond);
}
#dp-wrapper:has(.beyond-sunrise-header) .beyond-sunrise-header .dp-header-pre {
    color: var(--erau-beyond);
    background-color: var(--erau-sunrise);
}

#dp-wrapper .beyond-sunrise-link-grid a {
    background: var(--erau-beyond);
}
#dp-wrapper .beyond-sunrise-link-grid a:hover {
    border-left: 24px solid var(--erau-sunrise);
}
#dp-wrapper .beyond-sunrise-link-grid .dp-icon,
#dp-wrapper .beyond-sunrise-link-grid .fas {
    color: var(--erau-sunrise);
}

#dp-wrapper.beyond-sunrise-wrapper h2 {
    background-color: var(--erau-beyond);
}
#dp-wrapper.beyond-sunrise-wrapper h3 {
    color: var(--erau-beyond);
    border-bottom: 4px solid var(--erau-sunrise);
}
#dp-wrapper.beyond-sunrise-wrapper h4,
#dp-wrapper.beyond-sunrise-wrapper h5,
#dp-wrapper.beyond-sunrise-wrapper h6 {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-sunrise-wrapper .btn {
    color: var(--erau-white);
    background: var(--erau-beyond);
}
#dp-wrapper.beyond-sunrise-wrapper .btn:hover {
    color: var(--erau-beyond);
    background-color: var(--erau-sunrise);
}

#dp-wrapper.beyond-sunrise-wrapper .dp-card .nav-link {
    color: var(--erau-white);
    background-color: var(--erau-beyond);
}
#dp-wrapper.beyond-sunrise-wrapper .dp-card .nav-link:hover {
    color: var(--erau-beyond);
    background-color: var(--erau-sunrise);
}

#dp-wrapper.beyond-sunrise-wrapper hr[class*=dp-hr-] {
    border-color: var(--erau-beyond);
}

#dp-wrapper.beyond-sunrise-wrapper .dp-module-details li.dp-current .ig-row {
    background-color: var(--erau-sunrise);
}

#dp-wrapper.beyond-sunrise-wrapper .dp-module-details li.dp-current .ig-row a {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-sunrise-wrapper .context_module_item .type_icon i {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-sunrise-wrapper .context_module_item .fa-map-marker-alt {
    color: var(--erau-beyond);
}

/*********************************************************************/
/***** BEYOND-ALTITUDE COLOR STYLES
**********************************************************************/

#dp-wrapper header.beyond-altitude-header {
    color: var(--erau-white);
    background: var(--erau-beyond);
}
#dp-wrapper:has(.beyond-altitude-header) .dp-banner-image {
    border-top: 20px solid var(--erau-beyond);
}
#dp-wrapper:has(.beyond-altitude-header) .beyond-altitude-header .dp-header-pre {
    color: var(--erau-beyond);
    background-color: var(--erau-altitude);
}

#dp-wrapper .beyond-altitude-link-grid a {
    background: var(--erau-beyond);
}
#dp-wrapper .beyond-altitude-link-grid a:hover {
    border-left: 24px solid var(--erau-altitude);
}
#dp-wrapper .beyond-altitude-link-grid .dp-icon,
#dp-wrapper .beyond-altitude-link-grid .fas {
    color: var(--erau-altitude);
}

#dp-wrapper.beyond-altitude-wrapper h2 {
    background-color: var(--erau-beyond);
}
#dp-wrapper.beyond-altitude-wrapper h3 {
    color: var(--erau-beyond);
    border-bottom: 4px solid var(--erau-altitude);
}
#dp-wrapper.beyond-altitude-wrapper h4,
#dp-wrapper.beyond-altitude-wrapper h5,
#dp-wrapper.beyond-altitude-wrapper h6 {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-altitude-wrapper .btn {
    color: var(--erau-white);
    background: var(--erau-beyond);
}
#dp-wrapper.beyond-altitude-wrapper .btn:hover {
    color: var(--erau-beyond);
    background-color: var(--erau-altitude);
}

#dp-wrapper.beyond-altitude-wrapper .dp-card .nav-link {
    color: var(--erau-white);
    background-color: var(--erau-beyond);
}
#dp-wrapper.beyond-altitude-wrapper .dp-card .nav-link:hover {
    color: var(--erau-beyond);
    background-color: var(--erau-altitude);
}

#dp-wrapper.beyond-altitude-wrapper hr[class*=dp-hr-] {
    border-color: var(--erau-beyond);
}

#dp-wrapper.beyond-altitude-wrapper .dp-module-details li.dp-current .ig-row {
    background-color: var(--erau-altitude);
}

#dp-wrapper.beyond-altitude-wrapper .dp-module-details li.dp-current .ig-row a {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-altitude-wrapper .context_module_item .type_icon i {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-altitude-wrapper .context_module_item .fa-map-marker-alt {
    color: var(--erau-beyond);
}

/*********************************************************************/
/***** BLACK COLOR STYLES
**********************************************************************/

#dp-wrapper header.black-header {
    color: var(--erau-white);
    background: var(--erau-black);
}
#dp-wrapper:has(.black-header) .dp-banner-image {
    border-top: 20px solid var(--erau-black);
}
#dp-wrapper:has(.black-header) .black-header .dp-header-pre {
    color: var(--erau-black);
    background-color: var(--erau-grey);
}

#dp-wrapper .black-link-grid a {
    background: var(--erau-black);
}
#dp-wrapper .black-link-grid a:hover {
    border-left: 24px solid var(--erau-grey);
}
#dp-wrapper .black-link-grid .dp-icon,
#dp-wrapper .black-link-grid .fas {
    color: var(--erau-grey);
}

#dp-wrapper.black-wrapper h2 {
    background-color: var(--erau-black);
}
#dp-wrapper.black-wrapper h3 {
    color: var(--erau-black);
    border-bottom: 4px solid var(--erau-grey);
}
#dp-wrapper.black-wrapper h4,
#dp-wrapper.black-wrapper h5,
#dp-wrapper.black-wrapper h6 {
    color: var(--erau-black);
}

#dp-wrapper.black-wrapper .btn {
    color: var(--erau-white);
    background: var(--erau-black);
}
#dp-wrapper.black-wrapper .btn:hover {
    color: var(--erau-black);
    background-color: var(--erau-grey);
}

#dp-wrapper.black-wrapper .dp-card .nav-link {
    color: var(--erau-white);
    background-color: var(--erau-black);
}
#dp-wrapper.black-wrapper .dp-card .nav-link:hover {
    color: var(--erau-black);
    background-color: var(--erau-grey);
}

#dp-wrapper.black-wrapper hr[class*=dp-hr-] {
    border-color: var(--erau-black);
}

#dp-wrapper.black-wrapper .dp-module-details li.dp-current .ig-row {
    background-color: var(--erau-grey);
}

#dp-wrapper.black-wrapper .dp-module-details li.dp-current .ig-row a {
    color: var(--erau-black);
}

#dp-wrapper.black-wrapper .context_module_item .type_icon i {
    color: var(--erau-black);
}

#dp-wrapper.black-wrapper .context_module_item .fa-map-marker-alt {
    color: var(--erau-black);
}

/*********************************************************************/
/***** BLACK-UNRIVALED COLOR STYLES
**********************************************************************/

#dp-wrapper header.black-unrivaled-header {
    color: var(--erau-white);
    background: var(--erau-black);
}
#dp-wrapper:has(.black-unrivaled-header) .dp-banner-image {
    border-top: 20px solid var(--erau-black);
}
#dp-wrapper:has(.black-unrivaled-header) .black-unrivaled-header .dp-header-pre {
    color: var(--erau-white);
    background-color: var(--erau-unrivaled);
}

#dp-wrapper .black-unrivaled-link-grid a {
    background: var(--erau-black);
}
#dp-wrapper .black-unrivaled-link-grid a:hover {
    border-left: 24px solid var(--erau-unrivaled);
}
#dp-wrapper .black-unrivaled-link-grid .dp-icon,
#dp-wrapper .black-unrivaled-link-grid .fas {
    color: var(--erau-unrivaled);
}

#dp-wrapper.black-unrivaled-wrapper h2 {
    background-color: var(--erau-black);
}
#dp-wrapper.black-unrivaled-wrapper h3 {
    color: var(--erau-black);
    border-bottom: 4px solid var(--erau-unrivaled);
}
#dp-wrapper.black-unrivaled-wrapper h4,
#dp-wrapper.black-unrivaled-wrapper h5,
#dp-wrapper.black-unrivaled-wrapper h6 {
    color: var(--erau-black);
}

#dp-wrapper.black-unrivaled-wrapper .btn {
    color: var(--erau-white);
    background: var(--erau-black);
}
#dp-wrapper.black-unrivaled-wrapper .btn:hover {
    color: var(--erau-black);
    background-color: var(--erau-unrivaled);
}

#dp-wrapper.black-unrivaled-wrapper .dp-card .nav-link {
    color: var(--erau-white);
    background-color: var(--erau-black);
}
#dp-wrapper.black-unrivaled-wrapper .dp-card .nav-link:hover {
    color: var(--erau-black);
    background-color: var(--erau-unrivaled);
}

#dp-wrapper.black-unrivaled-wrapper hr[class*=dp-hr-] {
    border-color: var(--erau-black);
}

#dp-wrapper.black-unrivaled-wrapper .dp-module-details li.dp-current .ig-row {
    background-color: var(--erau-unrivaled);
}

#dp-wrapper.black-unrivaled-wrapper .dp-module-details li.dp-current .ig-row a {
    color: var(--erau-black);
}

#dp-wrapper.black-unrivaled-wrapper .context_module_item .type_icon i {
    color: var(--erau-black);
}

#dp-wrapper.black-unrivaled-wrapper .context_module_item .fa-map-marker-alt {
    color: var(--erau-black);
}

/*********************************************************************/
/***** BLACK-SUNRISE COLOR STYLES
**********************************************************************/

#dp-wrapper header.black-sunrise-header {
    color: var(--erau-white);
    background: var(--erau-black);
}
#dp-wrapper:has(.black-sunrise-header) .dp-banner-image {
    border-top: 20px solid var(--erau-black);
}
#dp-wrapper:has(.black-sunrise-header) .black-sunrise-header .dp-header-pre {
    color: var(--erau-black);
    background-color: var(--erau-sunrise);
}

#dp-wrapper .black-sunrise-link-grid a {
    background: var(--erau-black);
}
#dp-wrapper .black-sunrise-link-grid a:hover {
    border-left: 24px solid var(--erau-sunrise);
}
#dp-wrapper .black-sunrise-link-grid .dp-icon,
#dp-wrapper .black-sunrise-link-grid .fas {
    color: var(--erau-sunrise);
}

#dp-wrapper.black-sunrise-wrapper h2 {
    background-color: var(--erau-black);
}
#dp-wrapper.black-sunrise-wrapper h3 {
    color: var(--erau-black);
    border-bottom: 4px solid var(--erau-sunrise);
}
#dp-wrapper.black-sunrise-wrapper h4,
#dp-wrapper.black-sunrise-wrapper h5,
#dp-wrapper.black-sunrise-wrapper h6 {
    color: var(--erau-black);
}

#dp-wrapper.black-sunrise-wrapper .btn {
    color: var(--erau-white);
    background: var(--erau-black);
}
#dp-wrapper.black-sunrise-wrapper .btn:hover {
    color: var(--erau-black);
    background-color: var(--erau-sunrise);
}

#dp-wrapper.black-sunrise-wrapper .dp-card .nav-link {
    color: var(--erau-white);
    background-color: var(--erau-black);
}
#dp-wrapper.black-sunrise-wrapper .dp-card .nav-link:hover {
    color: var(--erau-black);
    background-color: var(--erau-sunrise);
}

#dp-wrapper.black-sunrise-wrapper hr[class*=dp-hr-] {
    border-color: var(--erau-black);
}

#dp-wrapper.black-sunrise-wrapper .dp-module-details li.dp-current .ig-row {
    background-color: var(--erau-sunrise);
}

#dp-wrapper.black-sunrise-wrapper .dp-module-details li.dp-current .ig-row a {
    color: var(--erau-black);
}

#dp-wrapper.black-sunrise-wrapper .context_module_item .type_icon i {
    color: var(--erau-black);
}

#dp-wrapper.black-sunrise-wrapper .context_module_item .fa-map-marker-alt {
    color: var(--erau-black);
}

/*********************************************************************/
/***** BLACK-ALTITUDE COLOR STYLES
**********************************************************************/

#dp-wrapper header.black-altitude-header {
    color: var(--erau-white);
    background: var(--erau-black);
}
#dp-wrapper:has(.black-altitude-header) .dp-banner-image {
    border-top: 20px solid var(--erau-black);
}
#dp-wrapper:has(.black-altitude-header) .black-altitude-header .dp-header-pre {
    color: var(--erau-black);
    background-color: var(--erau-altitude);
}

#dp-wrapper .black-altitude-link-grid a {
    background: var(--erau-black);
}
#dp-wrapper .black-altitude-link-grid a:hover {
    border-left: 24px solid var(--erau-altitude);
}
#dp-wrapper .black-altitude-link-grid .dp-icon,
#dp-wrapper .black-altitude-link-grid .fas {
    color: var(--erau-altitude);
}

#dp-wrapper.black-altitude-wrapper h2 {
    background-color: var(--erau-black);
}
#dp-wrapper.black-altitude-wrapper h3 {
    color: var(--erau-black);
    border-bottom: 4px solid var(--erau-altitude);
}
#dp-wrapper.black-altitude-wrapper h4,
#dp-wrapper.black-altitude-wrapper h5,
#dp-wrapper.black-altitude-wrapper h6 {
    color: var(--erau-black);
}

#dp-wrapper.black-altitude-wrapper .btn {
    color: var(--erau-white);
    background: var(--erau-black);
}
#dp-wrapper.black-altitude-wrapper .btn:hover {
    color: var(--erau-black);
    background-color: var(--erau-altitude);
}

#dp-wrapper.black-altitude-wrapper .dp-card .nav-link {
    color: var(--erau-white);
    background-color: var(--erau-black);
}
#dp-wrapper.black-altitude-wrapper .dp-card .nav-link:hover {
    color: var(--erau-black);
    background-color: var(--erau-altitude);
}

#dp-wrapper.black-altitude-wrapper hr[class*=dp-hr-] {
    border-color: var(--erau-black);
}

#dp-wrapper.black-altitude-wrapper .dp-module-details li.dp-current .ig-row {
    background-color: var(--erau-altitude);
}

#dp-wrapper.black-altitude-wrapper .dp-module-details li.dp-current .ig-row a {
    color: var(--erau-black);
}

#dp-wrapper.black-altitude-wrapper .context_module_item .type_icon i {
    color: var(--erau-black);
}

#dp-wrapper.black-altitude-wrapper .context_module_item .fa-map-marker-alt {
    color: var(--erau-black);
}
