/*********************************************************************/
/***** BEYOND (SUNRISE ACCENT)
**********************************************************************/

#main:has(.beyond-sunrise-wrapper) #left-side a, /* course navigation links */
.beyond-sunrise-wrapper a {
    color: var(--erau-beyond);
}

#dp-wrapper header.beyond-sunrise-header {
    color: var(--erau-white);
    background: var(--erau-beyond);
}
#dp-wrapper:has(.beyond-sunrise-header) .dp-banner-image {
    border-color: var(--erau-beyond);
}
#dp-wrapper:has(.beyond-sunrise-header) .beyond-sunrise-header .dp-header-pre {
    color: var(--erau-beyond);
    background-color: var(--erau-sunrise);
}
#dp-wrapper:has(.beyond-sunrise-header) .beyond-sunrise-header .dp-header-pre-2:before {
    content: url("https://cdn.jsdelivr.net/gh/ERAU-Academic-Innovation/canvas-custom-css/images/erau-eagle-black-20.png");
}

#dp-wrapper .beyond-sunrise-link-grid a {
    background: var(--erau-beyond);
}
#dp-wrapper .beyond-sunrise-link-grid a:hover,
#dp-wrapper .beyond-sunrise-link-grid a:focus-visible {
    border-color: var(--erau-sunrise);
}
#dp-wrapper .beyond-sunrise-link-grid .dp-icon,
#dp-wrapper .beyond-sunrise-link-grid .fas {
    color: var(--erau-sunrise);
}

#dp-wrapper.beyond-sunrise-wrapper h2 {
    background-color: var(--erau-beyond);
}
#dp-wrapper.beyond-sunrise-wrapper h3 {
    color: var(--erau-beyond);
    border-color: var(--erau-sunrise);
}
#dp-wrapper.beyond-sunrise-wrapper h4,
#dp-wrapper.beyond-sunrise-wrapper h5,
#dp-wrapper.beyond-sunrise-wrapper h6 {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-sunrise-wrapper .btn {
    color: var(--erau-white);
    background: var(--erau-beyond);
}
#dp-wrapper.beyond-sunrise-wrapper .btn:hover,
#dp-wrapper.beyond-sunrise-wrapper .btn:focus-visible {
    color: var(--erau-beyond);
    background-color: var(--erau-sunrise);
}

#dp-wrapper.beyond-sunrise-wrapper .dp-card .nav-link {
    color: var(--erau-white);
    background-color: var(--erau-beyond);
}
#dp-wrapper.beyond-sunrise-wrapper .dp-card .nav-link:hover,
#dp-wrapper.beyond-sunrise-wrapper .dp-card .nav-link:focus-visible {
    color: var(--erau-beyond);
    background-color: var(--erau-sunrise);
}

#dp-wrapper.beyond-sunrise-wrapper hr[class*=dp-hr-] {
    border-color: var(--erau-beyond);
}

#dp-wrapper.beyond-sunrise-wrapper .dp-module-details li.dp-current .ig-row {
    background-color: var(--erau-sunrise);
}

#dp-wrapper.beyond-sunrise-wrapper .dp-module-details li.dp-current .ig-row a {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-sunrise-wrapper .context_module_item .type_icon i {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-sunrise-wrapper .context_module_item .fa-map-marker-alt {
    color: var(--erau-beyond);
}