/*********************************************************************/
/***** SUNRISE (BEYOND ACCENT)
**********************************************************************/

#main:has(.sunrise-beyond-wrapper) #left-side a, /* course navigation links */
.sunrise-beyond-wrapper a {
    color: var(--erau-beyond);
}

#dp-wrapper header.sunrise-beyond-header {
    color: var(--erau-beyond);
    background: var(--erau-sunrise);
}
#dp-wrapper:has(.sunrise-beyond-header) .dp-banner-image {
    border-color: var(--erau-sunrise);
}
#dp-wrapper:has(.sunrise-beyond-header) .sunrise-beyond-header .dp-header-pre {
    color: var(--erau-sunrise);
    background-color: var(--erau-beyond);
}
#dp-wrapper:has(.sunrise-beyond-header) .erau-header.sunrise-beyond-header .dp-header-subtitle,
#dp-wrapper:has(.sunrise-beyond-header) .erau-header.sunrise-beyond-header .dp-header-description p {
    color: var(--erau-beyond);
}

#dp-wrapper .sunrise-beyond-link-grid a {
    background: var(--erau-sunrise);
}
#dp-wrapper .erau-link-grid.sunrise-beyond-link-grid a {
    color: var(--erau-beyond);
}
#dp-wrapper .sunrise-beyond-link-grid a:hover,
#dp-wrapper .sunrise-beyond-link-grid a:focus-visible {
    border-color: var(--erau-beyond);
}
#dp-wrapper .sunrise-beyond-link-grid .dp-icon,
#dp-wrapper .sunrise-beyond-link-grid .fas {
    color: var(--erau-beyond);
}

#dp-wrapper.sunrise-beyond-wrapper h2 {
    background-color: var(--erau-sunrise);
}
#dp-wrapper.erau-wrapper.sunrise-beyond-wrapper h2 {
    color: var(--erau-beyond);
}
#dp-wrapper.sunrise-beyond-wrapper h3 {
    color: var(--erau-beyond);
    border-color: var(--erau-sunrise);
}
#dp-wrapper.sunrise-beyond-wrapper h4,
#dp-wrapper.sunrise-beyond-wrapper h5,
#dp-wrapper.sunrise-beyond-wrapper h6 {
    color: var(--erau-beyond);
}

#dp-wrapper.sunrise-beyond-wrapper .btn {
    color: var(--erau-beyond);
    background: var(--erau-sunrise);
}
#dp-wrapper.sunrise-beyond-wrapper .btn:hover,
#dp-wrapper.sunrise-beyond-wrapper .btn:focus-visible {
    color: var(--erau-sunrise);
    background-color: var(--erau-beyond);
}

#dp-wrapper.sunrise-beyond-wrapper .dp-card .nav-link {
    color: var(--erau-beyond);
    background-color: var(--erau-sunrise);
}
#dp-wrapper.sunrise-beyond-wrapper .dp-card .nav-link:hover,
#dp-wrapper.sunrise-beyond-wrapper .dp-card .nav-link:focus-visible {
    color: var(--erau-sunrise);
    background-color: var(--erau-beyond);
}

#dp-wrapper.sunrise-beyond-wrapper hr[class*=dp-hr-] {
    border-color: var(--erau-sunrise);
}

#dp-wrapper.sunrise-beyond-wrapper .dp-module-details li.dp-current .ig-row {
    background-color: var(--erau-beyond);
}

#dp-wrapper.sunrise-beyond-wrapper .dp-module-details li.dp-current .ig-row a {
    color: var(--erau-sunrise);
}

#dp-wrapper.sunrise-beyond-wrapper .context_module_item .type_icon i {
    color: var(--erau-beyond);
}

#dp-wrapper.sunrise-beyond-wrapper .context_module_item .fa-map-marker-alt {
    color: var(--erau-beyond);
}
