/*********************************************************************/
/***** GRADIENT: GREY → SUNRISE (BLACK ACCENT)
**********************************************************************/

#main:has(.gradient-grey-sunrise-black-wrapper) #left-side a, /* course navigation links */
.gradient-grey-sunrise-black-wrapper a {
    color: var(--erau-black);
}

#dp-wrapper header.gradient-grey-sunrise-black-header {
    color: var(--erau-black);
    background: linear-gradient(135deg, var(--erau-grey) 60%, var(--erau-sunrise));
}
#dp-wrapper:has(.gradient-grey-sunrise-black-header) .dp-banner-image {
    border-color: var(--erau-grey);
}
#dp-wrapper:has(.gradient-grey-sunrise-black-header) .gradient-grey-sunrise-black-header .dp-header-pre {
    color: var(--erau-grey);
    background-color: var(--erau-black);
}
#dp-wrapper:has(.gradient-grey-sunrise-black-header) .gradient-grey-sunrise-black-header .dp-header-pre-2:before {
    content: url("https://cdn.jsdelivr.net/gh/ERAU-Academic-Innovation/canvas-custom-css/images/erau-eagle-black-20.png");
}
#dp-wrapper:has(.gradient-grey-sunrise-black-header) .erau-header.gradient-grey-sunrise-black-header .dp-header-subtitle,
#dp-wrapper:has(.gradient-grey-sunrise-black-header) .erau-header.gradient-grey-sunrise-black-header .dp-header-description p {
    color: var(--erau-black);
}

#dp-wrapper .gradient-grey-sunrise-black-link-grid a {
    background: linear-gradient(135deg, var(--erau-grey) 60%, var(--erau-sunrise));
}
#dp-wrapper .erau-link-grid.gradient-grey-sunrise-black-link-grid a {
    color: var(--erau-black);
}
#dp-wrapper .gradient-grey-sunrise-black-link-grid a:hover,
#dp-wrapper .gradient-grey-sunrise-black-link-grid a:focus-visible {
    border-color: var(--erau-black);
}
#dp-wrapper .gradient-grey-sunrise-black-link-grid .dp-icon,
#dp-wrapper .gradient-grey-sunrise-black-link-grid .fas {
    color: var(--erau-black);
}

#dp-wrapper.gradient-grey-sunrise-black-wrapper h2 {
    background: linear-gradient(135deg, var(--erau-grey) 60%, var(--erau-sunrise));
}
#dp-wrapper.erau-wrapper.gradient-grey-sunrise-black-wrapper h2 {
    color: var(--erau-black);
}
#dp-wrapper.gradient-grey-sunrise-black-wrapper h3 {
    color: var(--erau-black);
    border-color: var(--erau-grey);
}
#dp-wrapper.gradient-grey-sunrise-black-wrapper h4,
#dp-wrapper.gradient-grey-sunrise-black-wrapper h5,
#dp-wrapper.gradient-grey-sunrise-black-wrapper h6 {
    color: var(--erau-black);
}

#dp-wrapper.gradient-grey-sunrise-black-wrapper .btn {
    color: var(--erau-black);
    background: linear-gradient(135deg, var(--erau-grey) 60%, var(--erau-sunrise));
}
#dp-wrapper.gradient-grey-sunrise-black-wrapper .btn:hover,
#dp-wrapper.gradient-grey-sunrise-black-wrapper .btn:focus-visible {
    color: var(--erau-grey);
    background: var(--erau-black);
}

#dp-wrapper.gradient-grey-sunrise-black-wrapper .dp-card .nav-link {
    color: var(--erau-black);
    background: linear-gradient(135deg, var(--erau-grey) 60%, var(--erau-sunrise));
}
#dp-wrapper.gradient-grey-sunrise-black-wrapper .dp-card .nav-link:hover,
#dp-wrapper.gradient-grey-sunrise-black-wrapper .dp-card .nav-link:focus-visible {
    color: var(--erau-grey);
    background: var(--erau-black);
}

#dp-wrapper.gradient-grey-sunrise-black-wrapper hr[class*=dp-hr-] {
    border-color: var(--erau-grey);
}

#dp-wrapper.gradient-grey-sunrise-black-wrapper .dp-module-details li.dp-current .ig-row {
    background-color: var(--erau-black);
}

#dp-wrapper.gradient-grey-sunrise-black-wrapper .dp-module-details li.dp-current .ig-row a {
    color: var(--erau-grey);
}

#dp-wrapper.gradient-grey-sunrise-black-wrapper .context_module_item .type_icon i {
    color: var(--erau-black);
}

#dp-wrapper.gradient-grey-sunrise-black-wrapper .context_module_item .fa-map-marker-alt {
    color: var(--erau-black);
}
