/*********************************************************************/
/***** BEYOND (GREY ACCENT)
**********************************************************************/

#main:has(.beyond-grey-wrapper) #left-side a, /* course navigation links */
.beyond-grey-wrapper a {
    color: var(--erau-beyond);
}

#dp-wrapper header.beyond-grey-header {
    color: var(--erau-white);
    background: var(--erau-beyond);
}
#dp-wrapper:has(.beyond-grey-header) .dp-banner-image {
    border-color: var(--erau-beyond);
}
#dp-wrapper:has(.beyond-grey-header) .beyond-grey-header .dp-header-pre {
    color: var(--erau-beyond);
    background-color: var(--erau-grey);
}
#dp-wrapper:has(.beyond-grey-header) .beyond-grey-header .dp-header-pre-2:before {
    content: url("https://cdn.jsdelivr.net/gh/ERAU-Academic-Innovation/canvas-custom-css/images/erau-eagle-white-20.png");
}

#dp-wrapper .beyond-grey-link-grid a {
    background: var(--erau-beyond);
}
#dp-wrapper .beyond-grey-link-grid a:hover,
#dp-wrapper .beyond-grey-link-grid a:focus-visible {
    border-color: var(--erau-grey);
}
#dp-wrapper .beyond-grey-link-grid .dp-icon,
#dp-wrapper .beyond-grey-link-grid .fas {
    color: var(--erau-grey);
}

#dp-wrapper.beyond-grey-wrapper h2 {
    background-color: var(--erau-beyond);
}
#dp-wrapper.beyond-grey-wrapper h3 {
    color: var(--erau-beyond);
    border-color: var(--erau-grey);
}
#dp-wrapper.beyond-grey-wrapper h4,
#dp-wrapper.beyond-grey-wrapper h5,
#dp-wrapper.beyond-grey-wrapper h6 {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-grey-wrapper .btn {
    color: var(--erau-white);
    background: var(--erau-beyond);
}
#dp-wrapper.beyond-grey-wrapper .btn:hover,
#dp-wrapper.beyond-grey-wrapper .btn:focus-visible {
    color: var(--erau-beyond);
    background-color: var(--erau-grey);
}

#dp-wrapper.beyond-grey-wrapper .dp-card .nav-link {
    color: var(--erau-white);
    background-color: var(--erau-beyond);
}
#dp-wrapper.beyond-grey-wrapper .dp-card .nav-link:hover,
#dp-wrapper.beyond-grey-wrapper .dp-card .nav-link:focus-visible {
    color: var(--erau-beyond);
    background-color: var(--erau-grey);
}

#dp-wrapper.beyond-grey-wrapper hr[class*=dp-hr-] {
    border-color: var(--erau-beyond);
}

#dp-wrapper.beyond-grey-wrapper .dp-module-details li.dp-current .ig-row {
    background-color: var(--erau-grey);
}

#dp-wrapper.beyond-grey-wrapper .dp-module-details li.dp-current .ig-row a {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-grey-wrapper .context_module_item .type_icon i {
    color: var(--erau-beyond);
}

#dp-wrapper.beyond-grey-wrapper .context_module_item .fa-map-marker-alt {
    color: var(--erau-beyond);
}